@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12 text-center spaced-below">
            <h2>Blow Out Instrument Rentals</h2>
        </div>
        <div class="col-md-6 hidden-sm hidden-xs text-center well spaced-below">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R0JKCYZ8hng?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 text-center spaced-below">
                    <p><em>The fastest and easiest place to rent new and used instruments</em></p>
                    <div style="margin-top:3.5em;">
                        <a asp-area="" asp-controller="rentals" asp-action="Index">
                            <button type="button" class="btn btn-info" id="call-to-action">Rent Now!</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <blockquote class="blockquote-reverse">
                        <p>"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself."</p>
                        <footer class="pull-right"><em>Johann Sebastian Bach</em></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
