@{
    ViewData["Title"] = "Blow Out!";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome to Blow Out!</h2>
            <p>We blow our competitors out of the water</p>
        </div>
    </div>
</div>
