@{
    ViewData["Title"] = "About Us";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <hr>
        </div>
        <div class="col-md-12 our-mission-text text-center">
            <p><i><b>Blow Out Instrument Rentals' mission is to make it as easy as possible for musicians to have access to high quality instruments that are affordable, accessible, and awesome.</b></i></p>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <hr>
        </div>
    </div>

    <h3>Our History</h3>
    <div class="row">
        <div class="col-md-8 our-history-text">
            <p>Blow Out Instrument Rentals was originally know as Swatcheyvich Instruments and was founded in 1910. Miguel Swatcheyvich had recently immigrated to the United States from southwestern Russia and brought his passion for music with him. He opened a instrument repair shop in Brooklyn, New York and never looked back. We have come a long way since then; with 20 locations in 15 states, we are making easier than ever to rent instruments. Check out what we offer and reach out to us if you have any questions!</p>
        </div>
        <div class="col-md-4 text-center">    
            <figure class="figure">
                <img src="https://s3-us-west-2.amazonaws.com/blow-out/img/founder.png" class="img-rounded" width="80%">
                <figcaption class="figure-caption text-xs-right">Miguel Swatcheyvich</figcaption>
            </figure>
        </div>
    </div>
</div>
