@model IEnumerable<BlowOut.Models.RentalInfo>


@{
    ViewData["Title"] = "Rentals";
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Rental Type</th>
                <th>Picture URL</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstrumentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstrumentPicture)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>






