@{
    ViewData["Title"] = "Message Sent!";
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <p>Thank you @ViewBag.Name! We have received your message about a <b><i>@ViewBag.RentalType @ViewBag.InstrumentName</i></b> and will get back to you soon.</p>
</div>
